<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>Thank you for submitting your application</h2>
      <p>Your application will be reviewed, and you should hear back from us within 7 business days.  Please email <%= link_to "info@elgintech.org", "mailto:info@elgintech" %> if you have any questions.</p>
      <p>Want to meet other ETC members?  Check out our upcoming events.</p>
      <%= link_to "UPCOMING EVENTS", events_url, class: "button radius success" %>
    </div>
  </div>
</div>