<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>Elgin Technology Center Membership Application</h2>
      <h5 class="subheader">
        The Elgin Technology Center (ETC) is a collaborative community, in the suburbs, where technology based entrepreneurs and small businesses come to launch, grow and evolve.
      </h5>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="panel callout radius">
          <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 benefits">
            <li>Open Coworking Space</li>
            <li>Private offices (additional cost)</li>
            <li>Tech Events</li>
            <li>Month-to-Month Membership</li>
            <li>24 Hour Access</li>
            <li>Meetup Space</li>
            <li>Conference Rooms</li>
            <li>Mentoring Office Hours</li>
            <li>Networking & Social Events</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
              action="https://elgintech.wufoo.com/forms/z69j3rh19pfs8i/#public" data-abide>

        <ul class="no-bullet">
          <li id="foli2" class="notranslate      ">
            <label class="desc" id="title2" for="Field2">Name <span id="req_2" class="req">*</span></label>
            <div class="row">
              <div class="large-6 columns">
                <input id="Field2" name="Field2" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="First" required />
                <small class="error">Required field</small>
              </div>
              <div class="large-6 columns">
                <input id="Field3" name="Field3" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Last" required />
                <small class="error">Required field</small>
              </div>
            </div>
          </li>
          <li id="foli4" class="notranslate      ">
            <div class="row">
              <div class="large-6 columns">
                <label class="desc" id="title4" for="Field4">Email <span id="req_4" class="req">*</span></label>
                <input id="Field4" name="Field4" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required />
                <small class="error">Required field</small>
              </div>
              <div class="large-6 columns">
                <label class="desc" id="title14" for="Field14">Phone number <span id="req_14" class="req">*</span></label>
                <div class="row">
                  <div class="large-4 columns">
                    <input id="Field14" name="Field14" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" placeholder="XXX" required />
                    <small class="error">Required field</small>
                  </div>
                  <div class="large-4 columns">
                    <input id="Field14-1" name="Field14-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5" placeholder="XXX" required />
                    <small class="error">Required field</small>
                  </div>
                  <div class="large-4 columns">
                    <input id="Field14-2" name="Field14-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="6" placeholder="XXXX" required />
                    <small class="error">Required field</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="foli5" class="notranslate      ">
            <label class="desc" id="title5" for="Field5">Business name <span id="req_5" class="req">*</span></label>
            <input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="7" onkeyup="" required />
            <small class="error">Required field</small>
          </li>
          <li id="foli6" class="notranslate       ">
            <label class="desc" id="title6" for="Field6">If you have a website, demo/prototype - provide URL</label>
            <input id="Field6" name="Field6" type="url" class="field text medium" value="" maxlength="255" tabindex="8" />
          </li>
          <li id="foli7" class="notranslate      ">
            <label class="desc" id="title7" for="Field7">How long have you been working on the company? Are you working on it full time? <span id="req_7" class="req">*</span></label>
            <input id="Field7" name="Field7" type="text" class="field text medium" value="" maxlength="255" tabindex="9" onkeyup="" required />
            <small class="error">Required field</small>
          </li>
          <li id="foli9" class="notranslate      ">
            <label class="desc" id="title9" for="Field9">Please describe your business in five (5) sentences or less. <span id="req_9" class="req">*</span></label>
            <textarea id="Field9" name="Field9" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="10" onkeyup="" required  ></textarea>
            <small class="error">Required field</small>
          </li>
          <li id="foli10" class="notranslate      ">
            <label class="desc" id="title10" for="Field10">Tell us about your journey as entrepreneur and why you are passionate about the business you are currently building? <span id="req_10" class="req">*</span></label>
            <textarea id="Field10"name="Field10"class="field textarea medium"spellcheck="true"rows="10" cols="50"tabindex="11"onkeyup=""required  ></textarea>
            <small class="error">Required field</small>
          </li>
          <li id="foli11" class="notranslate      "><label class="desc" id="title11" for="Field11">Tell us about technologies used to build your business. <span id="req_11" class="req">*</span></label>
            <textarea id="Field11"name="Field11"class="field textarea medium"spellcheck="true"rows="10" cols="50"tabindex="12"onkeyup=""required  ></textarea>
            <small class="error">Required field</small>
          </li>
          <li id="foli12" class="notranslate      ">
            <label class="desc" id="title12" for="Field12">Tell us what you would do to give back to this collaborative community. Would it be mentorship, workshops, trainings, skills, etc? What can you do to help ETC and its members?<span id="req_12" class="req">*</span></label>
            <textarea id="Field12"name="Field12"class="field textarea medium"spellcheck="true"rows="5"tabindex="13"onkeyup=""required  ></textarea>
            <small class="error">Required field</small>

            <input id="saveForm" name="saveForm" class="btTxt submit button radius success" type="submit" value="APPLY"
         />
          </li>

        <li class="hide">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="lJc8yBpyrxIbTCH85UOT2/R8v93eDkjgKkqiS7V0OOY=" />
        </li>
        </ul>
        </form>
      </div>
    </div>
  </div>
</div>