<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>Thank you for submitting your application</h2>
      <p>Your application will be reviewed, and you should hear back from us within 7 business days.  Please email <%= link_to "info@elgintech.org", "mailto:info@elgintech" %> if you have any questions.</p>
    </div>
  </div>
</div>