<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>ETC Class Registration</h2>
      <h5 class="subheader">Please fill in all registration from fields.</h5><br>

      <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://elgintech.wufoo.com/forms/m1p6zhtj0e720ek/#public">
        <div class="row">
          <div class="medium-6 columns">
            <label for="Field1">First Name <span id="req_1" class="req">*</span></label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" required />
          </div>
          <div class="medium-6 columns">
            <label for="Field2">Last Name <span id="req_2" class="req">*</span></label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" required />
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label class="desc" id="title3" for="Field3">Email <span id="req_3" class="req">*</span></label>
            <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required />
          </div>
          <div class="medium-6 columns">
            <label class="desc" id="title4" for="Field4">Phone Number <span id="req_4" class="req">*</span></label>
            <ul class="small-block-grid-3">
              <li><input id="Field4" name="Field4" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" placeholder="XXX" required  /></li>
              <li><input id="Field4-1" name="Field4-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5" placeholder="XXX"   required /></li>
              <li><input id="Field4-2" name="Field4-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="6" placeholder="XXXX"  required /></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label class="desc" id="title5" for="Field5">Select a Class <span id="req_5" class="req">*</span></label>
            <select id="Field5" name="Field5" class="field select medium" tabindex="7" >
              <option value="" selected="selected"></option>
              <!-- <option value="Building a Lean Business - Spring 2014" >Building a Lean Business - Spring 2014</option> -->
            </select>
          </div>
          <div class="medium-6 columns"></div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label class="desc" id="title7" for="Field7">
              Tell us what goals you expect to achieve with this class <span id="req_7" class="req">*</span>
            </label>
            <textarea id="Field7" name="Field7" class="field textarea medium five-rows" spellcheck="true" rows="5" tabindex="8" onkeyup="" required  ></textarea>
          </div>
          <div class="medium-6 columns"></div>
        </div>
        <div>
          <input id="saveForm" name="saveForm" class="btTxt submit button radius success" type="submit" value="REGISTER"/>
        </div>
        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="hi3wQSN+T+qlcK3Ag/UABrEF3sQVniQUC0g4Fcvt6hg=" />
        </div>
      </form>
    </div>
  </div>
</div>