<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>Upcoming Education Opportunities</h2>
      <h5 class="subheader">
        We are proud to offer the following education opportunities:
      </h4>
      <ul class="no-bullet classes">
        <li>
          <div class="row">
            <div class="large-7 medium-7 columns">
              <h3 class="blue heavy">Building a Lean Business <span class="label alert">SIGN UP CLOSED</span></h3>
              <h5 class="blue class-question">Class Summary</h5>
              <h6 class="class-desc">
                In 8 weeks you will learn about the lean startup methodology, and apply what you learn weekly in the development of your own business, product, or idea.  We will show you how to "get out of the building" in order to validate the problem you want to solve, your solution, customer base, and revenue model with the least amount of risk.  By the end of this class you will have the knowledge needed to launch and evolve a business, while giving yourself the best chance of achieving success.
              </h6>
              <h5 class="blue class-question">Schedule</h5>
              <h6 class="class-desc">
                April 2 - May 21, Wed evenings 6-8PM
              </h6>
              <div class="show-links">
                <a href="#" remote="true" class="show-more-link"><b>+ Show More</b></a>
                <a href="#" remote="true" class="show-less-link"><b>- Show Less</b></a>
              </div>
              <div class="show-more">
                <h5 class="blue class-question">Taught By</h5>
                <div class="class-desc">
                  <div class="circular left"></div>
                  <p class="teacher-details">
                    <b>James Stubblefield</b><br>
                    James is the founder of Reading Glue Inc.  He is a web development mentor for The Starter League and a coach for Starter School in Chicago.  James is passionate about sharing his love of programming and startups through the different classes and office hours that he offers at ETC.
                  </p>
                </div>
                <h5 class="blue class-question">Requirements</h5>
                <h6 class="class-desc">
                  The requirements for this class are simple.  You must have an idea that you are passionate about launching, and you are ready to work hard validating it in 8 weeks.
                </h6>
                <h5 class="blue class-question">What's Included</h5>
                <h6 class="class-desc">
                  2 months ETC membership<br>Book: Running Lean<br>Mentorship / Office Hours
                </h6>
                <h5 class="blue class-question">What you will learn</h5>
                <div class="section">
                  <div class="row">
                    <div class="medium-6 columns">
                      <h6 class="incentive">Creating a lean canvas</h6>
                    </div>
                    <div class="medium-6 columns">
                      <h6 class="incentive">Developing hypotheses</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 columns">
                      <h6 class="incentive">Risk assessment</h6>
                    </div>
                    <div class="medium-6 columns">
                      <h6 class="incentive">Design of experiments</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 columns">
                      <h6 class="incentive">Customer development</h6>
                    </div>
                    <div class="medium-6 columns">
                      <h6 class="incentive">Problem / Solution validation</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 columns">
                      <h6 class="incentive">Revenue model validation</h6>
                    </div>
                    <div class="medium-6 columns">
                      <h6 class="incentive">MVP design and validation</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 columns">
                      <h6 class="incentive">Customer cycle</h6>
                    </div>
                    <div class="medium-6 columns">
                      <h6 class="incentive">Product / Market fit</h6>
                    </div>
                  </div>
                </div>
                <h5 class="blue class-question">FAQ's</h5>
                <p class="class-question">Is this class only for people who want to launch a startup?</p>
                <p class="subheader class-desc">
                  Don't let the word "startup" fool you.  The lean startup methodology can be applied to any new business or product.
                </p>
                <p class="class-question">Why are we not learning how to write a business plan?</p>
                <p class="subheader class-desc">
                  Business plans take a lot of time to write, and are meant to be structured around a validated product.  Most ideas never survive first contact with the customer.  You will be ready for an actual business plan once you have validated your product and business model using the lean startup process.
                </p>
                <p class="class-question">Do I really need to have an actual business or product idea of my own to use in this class?</p>
                <p class="subheader class-desc">
                  Yes, you must have a business idea or product that you want to validate or launch.  This class is designed around the concept of "learn by doing."  Each week you will apply what is learned in the classroom to your own idea.
                </p>
                <%= link_to 'REGISTER NOW', '#', class: 'button large radius success cta hide-for-small large-6 columns disabled' %>
              </div>
            </div>
            <div class="large-4 medium-4 columns large-offset-1">
              <%= link_to 'REGISTER NOW', '#', class: 'button small radius success cta register disabled' %>
              <h5 class="blue class-question">Cost</h5>
              <h4 class="class-desc">
                $250 * <br>
                <small>* Special introductory price</small>
              </h4>
              <h5 class="blue class-question">Share</h5>
              <ul class="inline-list share">
                <li>
                  <a href="https://twitter.com/home?status=Check%20out%20the%20Lean%20Startup%20101%20class%20that%20@ElginTech%20is%20offering%20http://www.elgintech.org/classes" class="share" title="Twitter">
                    <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x icon"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elgintech.org/classes" class="share" title="Facebook">
                    <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x icon"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="https://plus.google.com/share?url=http://www.elgintech.org/classes" class="share" title="Google+">
                    <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-google-plus fa-stack-1x icon"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <h5 class="blue class-question">Questions</h5>
              <ul class="inline-list share">
                <li>
                  <a href="mailto:info@elgintech.org" class="share" title="Email us">info@elgintech.org</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>