<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <h2>Elgin Technology Center Events</h2>
      <h5 class="subheader">
        Some of the upcoming events going on at ETC.
      </h5>
      <div class="row">
        <div class="large-12 columns">
          <div class="responsive-iframe-container">
            <div class="calendar">
              <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=elgintechnologycenter%40gmail.com&amp;color=%232952A3&amp;src=hrojsodu4qr3enqqsk3ra6pcl8%40group.calendar.google.com&amp;color=%23B1440E&amp;src=dqit4ob5hatnbtt7pthktcl9v5pnjns6%40import.calendar.google.com&amp;color=%232952A3&amp;src=8p9132valpjnck6crb37m78usidhjqat%40import.calendar.google.com&amp;color=%232F6309&amp;src=cc5g883hb36q10t477h0mtihc9pd7usn%40import.calendar.google.com&amp;color=%23875509&amp;src=bpr3d9jvum1qcp118sove7pfrfna6p6p@import.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FChicago" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>