<%= content_for :title do %>
  Apply to Elgin Technology Center
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <p>Dear Friend:</p>
      <p>
        As you know, the role of social media in our society is ever changing and becoming increasingly more important. The power of social media can save a failing business, raise awareness for a cause and even help win an election. The more powerful social media becomes, the more important it is to embrace it and learn how to use its power to benefit our community.
      </p>
      <p>
        Social Media Week, September 22­26, reminds us that "The Future is Now." Embracing that theme, the Elgin Technology Center (ETC) has partnered with Social Media Week Chicago to present a week of free educational opportunities to Fox Valley businesses. These workshops will help businesses better utilize social media to positively impact awareness and sale. You can see a list of the <%= link_to 'scheduled workshops here', classes_url %>.
      </p>
      <p>
        <b>As an important community partner we would like you to join is in this endeavor by donating $50 to help underwrite the costs of workshop materials and supplies.</b> As a partner, your name and/or logo will be listed in all promotional materials, listed in a thank you message on our social media sites, on the banner hung at the ETC during the week and mentioned prior to each workshop.
      </p>
      <p>
        Your support is vital to helping ETC offer educational workshops that will strengthen our communities understand and utilization of social media. It will help increase business opportunities and leverage knowledge and partnerships for continued growth. We look forward to your partnership on this endeavor. <em>Please contact us at <a href="mailto:info@elgintech.org">info@elgintech.org</a> before September 1 to ensure inclusion in all marketing materials.</em>
      </p>
      <p>
        Thank you for partnering with us on this exciting endeavor.
      </p>
      <p>
        Michael Copland <br>
        Executive Director <br>
        Elgin Technology Center
      </p>
    </div>
  </div>
</div>