<%= content_for :title do %>
  Members of the Elgin Technology Center
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="large-6 medium-12 columns">
          <dl class="sub-nav profiles">
            <dt>Filter:</dt>
            <dd class="active"><a href="#">All</a></dd>
            <dd><a href="#">Companies</a></dd>
            <dd><a href="#">Internal</a></dd>
            <dd><a href="#">External</a></dd>
          </dl>
        </div>
        <div class="large-5 large-offset-1 medium-6 columns left">
          <%= form_tag do %>
            <div class="row">
              <div class="small-8 columns">
                <%= text_field_tag :search, nil, placeholder: "search by name or skill" %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "postfix search button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <ul class="large-block-grid-2 small-block-grid-1">
            <li>
              <div class="card">
                Testing
              </div>
            </li>
            <li>
              <div class="card">
                Testing
              </div>
            </li>
            <li>
              <div class="card">
                Testing
              </div>
            </li>
            <li>
              <div class="card">
                Testing
              </div>
            </li>
            <li>
              <div class="card">
                Testing
              </div>
            </li>
            <li>
              <div class="card">
                Testing
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="pagination-centered">
            <ul class="pagination">
              <li class="arrow unavailable"><a href="">&laquo;</a></li>
              <li class="current"><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li class="unavailable"><a href="">&hellip;</a></li>
              <li><a href="">12</a></li>
              <li><a href="">13</a></li>
              <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>