%footer{id: 'footer', class: 'specials'}
  .row
    .medium-12.columns.center
      %ul
        %li
          %p Elgin Technology Center
        %li
          %p 73 S. Riverside Drive, 3rd Floor, Elgin, IL 60120
        %li
          %p info@elgintech.org
        %li
          %p (224) 325-4382
