<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="medium-12 columns">
          <h2><%= t "devise.invitations.new.header" %></h2>
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :"data-abide" => ""} do |f| %>
            <%= render 'layouts/admin_user_form', resource: resource, f: f %>
            <div>
              <%= f.submit t("devise.invitations.new.submit_button"), class: "button radius success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
