<h1>Woo hoo, you received a new ad campaign form submission</h1>

<p><b>Campaign:</b></p>
 <p><%= @campaign %></p>

<p><b>Name:</b></p>
 <p><%= @name %></p>

 <p><b>Email:</b></p>
 <p><%= @email %></p>

 <p><b>Phone:</b></p>
 <p><%= @phone %></p>