/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= .
 */

@import 'foundation_and_overrides';
@import 'profiles';
@import 'static_pages';
@import 'users';

img.etc_logo {
  @media #{$small-only} {
    width: 130px !important;
    margin-top: 15px !important;
  }
}
.white {
  color:white;
}
.center {
  text-align: center;
}
.heavy { font-weight: 500; }
.blue { color:#325180; }

// Nav styles
img.nav-profile-pic {
  width: 45px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border: 1px solid $light-gray-border;
  margin-left: 5px;
  @media #{$small-only} { margin-right: 5px; }
}
a.dropdown-top-item {
  line-height: $topbar-height;
}

.top-bar-section.signed-in li:not(.has-form) {
  a:not(.button) {
    line-height: 42px;
    border-top: $nav-borders;
    border-right: $nav-borders;
    border-left: $nav-borders;
  }
  a:not(.button).dropdown-top-item {
    // border-bottom: $nav-borders;
    @media #{$medium-up} {
      line-height: 85px;
      border: none;
    }
  }
  a:not(.button).last-dropdown-item {
    border-bottom: $nav-borders;
  }
  a:not(.button).dropdown-last-top-item {
    @media #{$small-only} {
      border-bottom: $nav-borders;
    }
  }
}
.dropdown li.back h5 {
  font-size: $topbar-link-font-size;
  text-transform: uppercase;
}

// Devise styles
[data-abide] {
  div.errors {
   small.error.visiable {
     display: inline-block;
   }
  }
}