// Class Offer Show Styles

[class*="block-grid-"] > li.no-padding {
  padding-bottom: 0;
}

.pricing {
  margin-top: 0.8rem;
}

.class-pricing {
  margin-bottom: 0.8rem;
  p {
    font-size: 0.7rem;
    margin-bottom: 0;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
}
.class-desc {
  .circular-profile-pic-small {
    width: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    margin-top: 0.5rem;
    margin-right: 1.0rem;
  }
}
.class-wrapper {
  background-color: $light-gray;
  border: 1px solid $light-gray-border;
  border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  padding: 0.5rem 1rem 0.1rem;
  margin-bottom: 0.8rem;
}
.teacher-details {
  min-height: 80px;
}
.class-side-bar {
  @media #{$medium-up} {
    margin-top: 1.0rem;
  }
  @media #{$small-only} {
    text-align: center;
  }
  div { margin-bottom: 1rem; }
}
ul.pricing { margin-bottom: 0; }