// Class Offer Show Styles

[class*="block-grid-"] > li.no-padding {
  padding-bottom: 0;
}

.pricing {
  margin-top: 0.8rem;
}

.class-pricing {
  text-align: center;
  background-color: $light-gray;
  margin-bottom: 0.8rem;
  .class-label {
    background-color: $etc-blue;
    color: white;
    text-transform: uppercase;
    padding:0 0.3rem 0.1rem;
    border-top-right-radius: $global-radius;
    -webkit-border-top-right-radius: $global-radius;
    -moz-border-top-right-radius: $global-radius;
    border-top-left-radius: $global-radius;
    -webkit-border-top-left-radius: $global-radius;
    -moz-border-top-left-radius: $global-radius;
  }
  .class-price {
    padding:0.5rem;
    border-bottom: 1px solid $light-gray-border;
    border-left: 1px solid $light-gray-border;
    border-right: 1px solid $light-gray-border;
    border-bottom-right-radius: $global-radius;
    -webkit-border-bottom-right-radius: $global-radius;
    -moz-border-bottom-right-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    -webkit-border-bottom-left-radius: $global-radius;
    -moz-border-bottom-left-radius: $global-radius;
  }
}
.class-desc {
  .circular-profile-pic-small {
    width: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    margin-top: 0.5rem;
    margin-right: 1.0rem;
  }
}