@import "foundation_and_overrides";

// Profiles Index Styles
.sub-nav.profiles {
  margin-top: 0;
}
.postfix.search.button {
  background: none;
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
div.card-wrapper {
  margin: 1.0rem 0;
}
div.card {
  background-color: $light-gray;
  border: 1px solid $light-gray-border;
  border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  -webkit-box-shadow: 0 1px 2px 0px #BBBBBB;
  -moz-box-shadow: 0 1px 2px 0px #BBBBBB;
  box-shadow: 0 1px 2px 0px #BBBBBB;
  padding: 1.2rem;
  min-height: 230px !important;
  h5 {
    color: $profile-card-text;
    a {
      color: $profile-card-text;
    }
  }
  p {
    margin-bottom: 5px;
    color: $profile-card-text;
    a {
      margin-bottom: 0;
      color: $profile-card-text;
      text-decoration: underline;
    }
  }
  p.company { margin-bottom: 10px; }
  .circular-profile-pic {
    width: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
  }
  .member-type {
    margin: 10px;
    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      color: #999;
    }
  }
}
.pagination-centered {
  margin-bottom: 3.0rem;
}

// Profiles Show Styles
.profile-breadcrumbs {
  margin: 1.0rem 0;
  .breadcrumbs {
    display: block;
    padding: 0.5625rem 0 0.5625rem;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    background-color: inherit;
    border: none;
  }
}
.profile-photo {
  text-align: center;
  .circular-profile-pic {
    width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
}
.social-links {
  text-align: center;
  margin: 2.0rem 2.0rem 0 2.0rem;
  @media #{$small-only} {
    margin: 2.0rem 7.5rem 0 7.5rem;
  }
  a {
    color: white;
    .fa-circle { color: $primary-color; }
    &:hover {
      color: white;
      .fa-circle {
        color: #FFB800;
        -webkit-transition: color 200ms ease-in;
        -moz-transition: color 200ms ease-in;
        -ms-transition: color 200ms ease-in;
        -o-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
      }
    }
  }
}
.profile-details {
  background-color: $light-gray;
  border: 1px solid $light-gray-border;
  border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  padding: 2.0rem;
  margin: 0 2.0rem 2.0rem 2.0rem;
  .name {
    color: $topbar-link-color;
    font-size: 1.75rem;
    font-weight: bold;
  }
  .company {
    color: $topbar-link-color;
    font-size: 1.5rem;
    a {
      color: $topbar-link-color;
      &:hover {
        color: $topbar-link-color;
        text-decoration: underline;
      }
    }
  }
  p {
    margin: 0.8rem 0;
    a {
      &:hover { text-decoration: underline; }
    }
  }
}