div.specials-image {
  padding: 40px 0;
  background: url(https://s3.amazonaws.com/elgintech.org/assets/specials-background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 805px;

  .logo {
    text-align: center;
    img {
      width: 250px;
      margin-bottom: 30px;
    }
  }
  .content {
    h1, h2 {
      color: white;
      text-shadow: 2px 2px #000000;
    }
    h1.tag-line {
      font-family: 'Nixie One', sans-serif;
      margin-bottom: 30px;
      @media #{$small-only} {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
      }
      @media #{$medium-only} {
        font-size: 40px;
      }
      @media #{$large-up} {
        font-size: 55px;
      }
    }
    h2 {
      font-weight: 100;
      line-height: 1.5;
      letter-spacing: 2px;
      text-shadow: 2px 2px #000000;
      @media #{$small-only} {
        font-size: 25px;
        font-weight: 200;
      }
      @media #{$medium-only} {
        font-size: 25px;
      }
      @media #{$large-up} {
        font-size: 33px;
      }
    }
  }
  .panel {
    margin-top: 35px;
    text-align: center;
    .cta {
      font-family: 'Nixie One', sans-serif;
      font-weight: 700;
      color:#325180;
      margin-bottom: 1.25rem;
      @media #{$small-only} {
        font-size: 20px;
      }
      @media #{$medium-only} {
        font-size: 20px;
      }
      @media #{$large-up} {
        font-size: 27px;
      }
    }
  }
}
footer.specials {
  background-color: black;
  padding: 10px 0;
  ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
    li {
      display: inline-block;
      padding: 5px 10px;
      p {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}
.specials-notice {
  position: absolute;
  width: 100%;
  z-index: 100;
  .alert-box.success {
    font-size: 20px;
    text-align: center;
    font-weight: 200;
  }
}