@import "foundation_and_overrides";

/* home.html Styles */
div.home-image {
  background: url('https://d33z4cqleaobgx.cloudfront.net/assets/coworking_space.jpg') center top no-repeat;
  background-size: cover;
  height: 475px;
  text-align: center;
  position:relative;
  @media #{$small-only} {
    height: 410px;
  }
  @media #{$large-up} {
    height: 550px;
  }
}
.uvp {
  text-shadow: 2px 2px #000;
}
h1.uvp {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media #{$small-only} {
    font-size: 2.2rem;
    margin-top: 0.3em;
  }
  @media #{$medium-only} {
    font-size: 3.8rem;
    margin-top: 1.0em;
  }
  @media #{$large-up} {
    font-size: 4.0rem;
    margin-top: 1.3em;
  }
}
h2.uvp {
  font-size: 3.0rem;
  letter-spacing: 3px;
  font-weight:400;
  color:white;
  @media #{$small-only} {
    font-size: 1.5rem;
  }
  @media #{$medium-only} {
    font-size: 2.1rem;
  }
  @media #{$large-up} {
    font-size: 2.7rem;
  }
}
.home-image {
  .learn-more {
    position:absolute;
    bottom:5%;
    width:100%;
    text-align: center;
    a .fa-circle {
      color: rgba(255,255,255,0.3);
    }
    a .fa-angle-down {
      color:#FFFFFF;
      font-weight: bold;
      &:hover {
        -webkit-transition: color 300ms ease-in;
        -moz-transition: color 300ms ease-in;
        -ms-transition: color 300ms ease-in;
        -o-transition: color 300ms ease-in;
        transition: color 300ms ease-in;
        color:#325180;
      }
    }
  }
}
.main-points {
  background-color: #325180;
  padding: 20px;
  .icon {
    margin: 20px 0;
    text-align: center;
  }
  .icon.first {
    @media #{$small-only} {
      margin-top: 0;
    }
  }
  .icon-title {
    letter-spacing: 3px;
    font-size:1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 15px 0 0;
  }
  .icon-text {
    letter-spacing: 2px;
    font-size: 1.0rem;
    font-weight: 200;
  }
}
.detailed-points {
  padding:50px 0;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    color:#325180;
  }
  .pricing-table {
    margin-bottom: 0;
  }
  .pricing-table-small-text {
    text-align: center;
    @media #{$small-only} {
      margin-bottom: 1.25rem;
    }
  }
}
.button.cta {
  padding-top: 1.0rem;
  padding-right: 2.0rem;
  padding-bottom: 1.0rem;
  padding-left: 2.0rem;
  text-transform: uppercase;
}
.members {
  padding:50px 0;
  background: url('https://d33z4cqleaobgx.cloudfront.net/assets/brick_wall.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  h3 {
    color:white;
    margin-bottom: 30px;
    font-size: 2.3125rem;
  }
  .button {
    text-transform: uppercase;
  }
  img {
    height:50px;
    max-height:50px;
  }
  img.rg-logo {
    height: 62px;
    max-height: 62px;
  }
  li {
    @media #{$small-only} {
      margin:20px 0;
    }
  }
}
.email-form {
  padding:50px 0;
  h3 {
    margin-bottom: 30px;
  }
}
.connect {
  background-color: #F6F6F6;
  text-align: center;
  padding:50px 0;
  h3.subheader {
    margin-bottom: 30px;
    color: #325180;
  }
  a {
    color: #325180;
    &:hover {
      .fa-circle.mail{
        -webkit-transition: color 200ms ease-in;
        -moz-transition: color 200ms ease-in;
        -ms-transition: color 200ms ease-in;
        -o-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        color:#FFB800;
      }
      .fa-circle.twitter{
        -webkit-transition: color 200ms ease-in;
        -moz-transition: color 200ms ease-in;
        -ms-transition: color 200ms ease-in;
        -o-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        color:#4099FF;
      }
      .fa-circle.facebook{
        -webkit-transition: color 200ms ease-in;
        -moz-transition: color 200ms ease-in;
        -ms-transition: color 200ms ease-in;
        -o-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        color:#1443A7;
      }
      .fa-circle.google-plus{
        -webkit-transition: color 200ms ease-in;
        -moz-transition: color 200ms ease-in;
        -ms-transition: color 200ms ease-in;
        -o-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        color:#dd4b39;
      }
    }
    .icon {
      color:white;
    }
  }
}
footer {
  padding:50px 0 0;
  background-color: #333;
  color:white;
  text-align: center;
  a {
    color:#DDD;
    &:hover {
      color:#FFF;
      text-decoration: underline;
    }
  }
  h6.subheader {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #BBB;
  }
  ul {
    font-size: 0.8125rem;
  }
}
.meetup img {
  margin-top: 10px;
}
.copyright p {
  color:#BBB;
  font-size: 0.8em;
  margin-top: 20px;
}
.no-bullet.nav {
  text-transform: uppercase;
}

/* apply.html Styles */
div.wrapper {
  margin:20px 0;
}
ul.benefits {
  font-size: 0.825rem;
}

/*events.html styles*/
.calendar {
  margin-top: 50px;
}
/* Responsive iFrame */
.responsive-iframe-container {
 position: relative;
 padding-bottom: 57%;
 padding-top: 30px;
 height: 0;
 overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
/*classes.html styles*/
ul.classes {
  margin-top: 30px;
}
.class-question {
  margin-bottom: 0;
  font-weight:500;
}
.class-desc { margin-bottom: 20px; }
h3 span.label {
  vertical-align: middle;
  margin-top: 5px;
  padding:0.375rem 0.7rem;
}
span.label.orange {
  background-color:#ff9933;
}
.circular {
  margin-top: 15px;
  margin-right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url('https://d33z4cqleaobgx.cloudfront.net/assets/james.png') center no-repeat;
}
.incentive { margin-bottom: 0; }
div.section { margin-bottom: 20px; }
ul.inline-list.share { margin-left: 0; margin-bottom: 20px;}
ul.share li { margin-left: 0; margin-right: 10px; }
.share i.icon { color:white; }
div.show-more { display:none; }
a.show-less-link { display:none; }
div.show-links { margin-top: -15px; }

textarea.five-rows {
  height: 100px;
}
form ul.small-block-grid-3 li { padding-bottom:0; }

@media #{$small-only} {
  .top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 25px;
  border-top:1px solid #CCC;
  }
  .responsive-iframe-container {
   position: relative;
   padding-bottom: 100%;
  }
  .register { margin-top: 20px; }
}